<h1 class="index-title">Welcome New Brewers!</h1>

<div class="main-tiles">
  <a href="/beers">
    <div>
      <div class="ours column-6">
        <h2 class="beer-text">Choose from our starter recipes!</h3>
          <div><img src="https://cdn.iconscout.com/icon/free/png-512/beer-mug-glass-drink-cocktail-emoj-symbol-babr-30679.png"></div>
      </div>
    </div>
  </a>
  <a href="/external_beers">
    <div>
      <div class="brewdog column-6">
        <h2 class="beer-text">BrewDog Brewery Recipes</h3>
          <div><img src="https://www.thembsgroup.co.uk/wp-content/uploads/2017/10/brewdog.jpg"></div>
      </div>
    </div>
  </a>
</div>