$primary: #03244d;
$secondary: #dd550c;
$tertiary: #496e9c;
$quaternary: #f68026;

div#app.grid-container {
  background-color: $primary;
}

h1.beer-title {
  color: $secondary;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.show-page-image {
  width: 25%;
  height: auto;
}

form.review-form {
  width: 90%;
  height: 400px;
  margin: auto;
  border: 3px solid black;
  background-color: $secondary;
  border-radius: 5%;
}

form.review-form h2 {
  color: $primary;
  text-align: center;
}

div.column-7 img {
  align-items: center;
}
