.column-4 {
  float: left;
  width: 21%;
  padding: 10px;
  margin: 20px;
  height: 250px;
  border: 2px solid black;
}

.index-title {
  text-align: center;
}

.beer-text {
  text-align: center;
  font: 9px;
}
