$primary: #03244d;
$secondary: #dd550c;
$tertiary: #496e9c;
$quaternary: #f68026;
$white: white;

div.instructions-tile {
  margin: 25px auto 25px auto;
}

.instructions-tile {
  border: 2px solid $secondary;
  border-radius: 5%;
  background-color: $white;
  width: 90%;
  height: fit-content;
  margin: auto 0;
  padding: 10px;
}

.instructions h3 {
  color: #03244d;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.instructions li {
  padding-left: 10px;
}

.instructions-tile {
  margin-top: 100px;
}
