$primary: #03244d;
$secondary: #dd550c;
$tertiary: #496e9c;
$quaternary: #f68026;

h1.index-title {
  background-color: $tertiary;
}

.error {
  color: #bf3310;
  font-weight: bold;
}

.flash-notice {
  background-color: lightgreen;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

form {
  width: 50%;
  height: 400px;
  margin: auto;
  border: 3px solid black;
  background-color: white;
  border-radius: 5%;
}

form div.field {
  width: 50%;
  margin: auto;
}

.content h2 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: $primary;
}
